# Configuración de puerto y conexión a MongoDB
PORT=8080

# Opción 1: MongoDB Local
MONGO_URI=mongodb://127.0.0.1:27017/coderhouse_ecommerce

# Opción 2: MongoDB Atlas (reemplazar credenciales)
# MONGO_URI=mongodb+srv://tu_usuario:tu_password@cluster0.xxx.mongodb.net/coderhouse_ecommerce?retryWrites=true&w=majority
